body {
  background-image: url(/images/rick-and-morty-purple-pink-planet-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;

}


.left-stats, .right-stats{
  height: 450px;
  /* background-color: rgba(37, 222, 222, 0.39);
  border: solid 5px rgb(37, 222, 222); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-board{
  height: 600px;
  background-color: rgba(0, 0, 128, .59);
  border: solid 5px rgb(0, 0, 128);
  border-radius: 10px;
  margin: 0 3rem;
  padding-bottom: .5rem;
}

.heading-row{
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;

}



.opponent-side, .player-side {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;

}

.opponent-side{
  /* background-color: darkmagenta; */
}

.player-side {
  /* background-color: darkorange; */
}

.deck-pile{
  height: 100%;
  width: 40%;
  background-image: url(images/rick-morty-card-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.played-card-slot, .opponent-played-card-slot{

  height: 100%;
  width: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.score{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.score{
  color: black;



}

/* .game-button{
background: #153458;
border-radius: 10px;
width: 323px;
height: 81px;
 font-family: 'Press Start 2P', cursive;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 28px;
color: #FFFFFF;
align-self: center;
} */
/* .game-button:active {
	position:relative;
  top:1px;

} */

.strength {
  margin: 3rem 0 0;
  color: white;
}

.character-name{
  margin: 0;
  color: white;
}





.modal{
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: black;
  height: 30%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid white 6px;
  color: white;
}

.winner-modal{
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  border: none;
}

.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}


.winner-gif{
  height: 50%;
}


.gif-img{
  width:100%;
  margin: 0;
}

.score-title{
  margin-bottom: 0;
}
.theScore{
  margin-top: 0;
}

.heading-row > h1 {

  color: black;
}


.hidden {
  display: none;
}

.television, .gif {
  position: relative;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
}


.tv-img{
    position: absolute;
  top: 0;
  left: 0;
  width: 325px;

}

.gif{
position: absolute;
  top: 115px;
  left: 20px;
z-index: -1;
width: 260px;
}



/* NEW STYLING */

.left-column{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.center-column{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.right-column{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rick-score{
  width: 300px;
  height: 232px;
  background-image: url(/images/rick-score.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

}

.morty-score{
  width: 300px;
  height: 232px;
  background-image: url(/images/morty-score.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

}

.score{
  color: #A4FD59;
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
   position: relative;
  top: 1rem;

}

.rick-card, .morty-card{
  position: relative;
  height: 320px;
  width: 224px;
  /* background-image: url(/images/rick-morty-card-back.png); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.the-card{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;

}

.card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-image: url(/images/rick-morty-card-back.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-image: url(/images/front1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.character-img {
  width: 170px;
  height: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid white 4px;

}

.strength {
  margin: 0;
  color: white;
}

.character-name{
  margin: 0;
  color: white;
}

.the-card-flip{
  transform: rotateY(180deg);
}

.picture-frame{
  height: 230px;
  background-image: url(/images/picture-frame.gif);
  background-size: contain;
  background-repeat: no-repeat;


}

.result > h2 {
  text-align: center;
  color: red;
  border: solid red 5px;
  width: 50%;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.game-button{
background: #153458;
border-radius: 10px;
width: 323px;
height: 81px;
 font-family: 'Press Start 2P', cursive;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 28px;
color: #FFFFFF;
align-self: center;
border: none;
outline: none;
}





/* iPhone 6/7/8 */

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {

  .center-column{
    height: 95vh;
  }

  .rick-score, .morty-score {
    width: 193px;
    height: 148px;
  }

  .picture-frame{
    width: 201px;
    height: 133px;
    margin: 0 auto;
  }

  .game-button{
    width: 230px;
    height: 58px;
    font-size: 18px;
  }

  .result > h2{
    font-size: 18px;
  }

}

/* iPhone X  */

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {


  .center-column{
  height: 95vh;
}

.rick-score, .morty-score {
  width: 193px;
  height: 148px;
}

.picture-frame{
  width: 201px;
  height: 133px;
  margin: 0 auto;
}

.game-button{
  width: 230px;
  height: 58px;
  font-size: 18px;
}

.result > h2{
  font-size: 18px;
}


}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){


  .picture-frame{
    margin: 0;
  }

}
